.release-list img {
	vertical-align:middle;
}

#title h1 {
	font-family: 'Milonga', 'sans-serif';
}

#title h1 a {
	text-decoration: none;
	color: inherit;
}

.subgenres:empty {
	display:none;
}

dt {
	font-weight:bold;
}
dd {
	padding-left: 1em;
}

#search-hint {
	font-size:smaller;
}
.row.player {
	overflow : hidden;
	margin-bottom:1em;
}

/* This will work in IE9+ but not in IE8 */
html:not(.jplayer-enabled) .jplayer-required {
	display: none;
}

.bio-compact {
	position:absolute;
	background-color:white;
	right:0px;
	bottom:0px;
}

#biography {
	white-space:pre-wrap;
}
