<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" charset="utf-8" content="text/html" />
<meta name=description value="An faster catalog search website for beatport.com"  />
<script type="text/javascript">
var devel = (document.cookie.indexOf("env=devel") !== -1);
(function() {
    var stylesheets = {
        "opt" : "/stylesheets/opt.css",
        "debug" : [
            "/foundation/stylesheets/foundation.css",
            "/stylesheets/app.css",
            "/stylesheets/jplayer.blue.monday.css"
        ]
    };
    if (!devel)
    {
        document.writeln('<link rel="stylesheet" type="text/css" href="' + stylesheets['opt'] + '" />');
    }
    else
    {
        for (var i = 0; i < stylesheets.debug.length; ++i)
        {
            document.writeln('<link rel="stylesheet" type="text/css" href="' + stylesheets['debug'][i] + '" />');
        }
    }
})();
</script>
<noscript>
    <link rel="stylesheet" type="text/css" href="/foundation/stylesheets/foundation.css" />
    <link rel="stylesheet" type="text/css" href="/foundation/app.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/jplayer.blue.monday.css" />
</noscript>

<title>beatsearch</title>

<script type="text/html" id="jplayer_template">
<div id="{{jquery_jplayer_id}}" class="jp-jplayer"></div>
<div id="{{jp_container_id}}" class="jp-audio">
  <div class="jp-type-single">
    <div class="jp-gui jp-interface">
      <ul class="jp-controls">
        <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
        <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
        <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
        <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
        <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
        <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
      </ul>
      <div class="jp-progress">
        <div class="jp-seek-bar">
          <div class="jp-play-bar"></div>
        </div>
      </div>
      <div class="jp-volume-bar">
        <div class="jp-volume-bar-value"></div>
      </div>
      <div class="jp-time-holder">
        <div class="jp-current-time"></div>
        <div class="jp-duration"></div>
        <ul class="jp-toggles">
          <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
          <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
        </ul>
      </div>
    </div>
    <div class="jp-title">
      <ul>
        <li>{{title}}</li>
      </ul>
    </div>
    <div class="jp-no-solution">
      <span>Update Required</span>
      To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
    </div>
  </div>
</div>
</script>

<script type="text/html" id="pagination_template">
    <p class='text-center'>
        Jump to page (max 50)
    </p>
    <ul class='pagination'>
        {{#pages}}
        <li {{#current}}class=current{{/current}}>
            <a {{#data}}data-qs-{{key}}='{{value}}'{{/data}} href='{{url}}'>{{index}}</a>
        </li>
        {{/pages}}
    </ul>
</script>

<script type="text/html" id="artist_list">
    <div class="row">
        {{#results.length}}
        <table class='twelve'>
            {{#results}}
            <tr>
                <td class=artist_id><a data-qs-artist='{{id}}' href='/?artist={{id}}'>{{name}}</a></td>
                <td>
                    <ul class='inline-list'>
                    {{#genres}}
                        <li>{{name}}</li>
                    {{/genres}}
                    </ul>
                </td>
            </tr>
            {{/results}}
        </table>
        {{/results.length}}
        {{^results.length}}
        <p class='text-center'>No artists found :(</p>
        {{/results.length}}
    </div>
</script>

<script type="text/html" id="artist_get">
    <div class='row text-center'> 
        <img src='{{images.large.url}}' alt='{{name}}' style="width: {{images.large.width}}px; height: {{images.large.height}}px"/>
    </div>
    <h3 class='row text-center'>{{name}}</h3>
    {{#biography}}
    <div class='row'>
        <h3 class=subheader>Bio</h3>
        <p id=biography>{{biography}}</p>
    </div>
    {{/biography}}
    <div class='row'>
        <h3 class=subheader>Genres</h3>
        <ul class='inline-list genres'>{{#genres}}<li>{{name}}</li>{{/genres}}</ul>
        <ul class='inline-list subgenres'>{{#subGenres}}<li>{{name}}</li>{{/subGenres}}</ul>
    </div>
    <div class=row>
        <h3 class=subheader>Discography</h3>
    </div>
    <p class="row artist_releases">{{ featuredReleases.length }} featured releases (<a href="/?artist_releases={{id}}" data-qs-artist_releases="{{id}}" data-artist-name="{{name}}">show all</a>)</p>
    <form action='#' method=POST class="row filter-search" data-qs-artist_releases="{{id}}" data-artist-name="{{ name }}">
        <div class="three mobile-four columns">
            <label class="right inline" for="search-artist-releases">Search releases:</label>
        </div>
        <div class="four mobile-four columns">
            <input id="search-artist-releases" name="search-filter" type=search />
        </div>
        <div class="two mobile-four end columns">
           <input type="submit" class="left inline button round" value="Filter">
        </div>
    </form>
    <div class="row show-for-small">
        <hr>
    </div>
    <div class=row>
        {{#featuredReleases.length}}
        <ul class="block-grid two-up release-list">
        {{#featuredReleases}}
            <li class=release_id>
                <img src="{{images.medium.url}}" alt="Album art for {{name}}" style="width: {{images.medium.width}}px; height: {{images.medium.height}}px"/>
                <a data-qs-release="{{id}}" href="/?release={{id}}">{{name}}</a>
            </li>
        {{/featuredReleases}}
        </ul>
        {{/featuredReleases.length}}
    </div>
    <div>
        <p class="row artist_tracks">{{ topDownloads.length }} Top Downloaded Tracks (<a data-qs-artist_tracks="{{id}}" href="/?artist_tracks={{id}}" data-artist-name="{{name}}">show all</a>):</p>
        <form action='#' method=POST class="row filter-search" data-qs-artist_tracks="{{id}}" data-artist-name="{{ name }}">
            <div class="three mobile-four columns">
                <label class="right inline" for="search-artist-tracks">Search tracks:</label>
            </div>
            <div class="four mobile-four columns">
                <input id="search-artist-tracks" name="search-filter" type=search />
            </div>
            <div class="two mobile-four end columns">
               <input type="submit" class="left inline button round" value="Filter">
            </div>
        </form>
        <div class="row show-for-small">
            <hr>
        </div>

        {{#topDownloads.length}}
        <table class="row">
            <thead>
                <tr>
                    <th>Album cover</th>
                    <th>Track name</th>
                    <th>Genre(s)</th>
                    <th>Track length</th>
                </tr>
            </thead>
            {{#topDownloads}}
            <tr>
                <td>
                   <img src="{{ images.medium.url }}"/>
                </td>
                <td class=track_id>
                    <a data-qs-track="{{id}}" href="/?track={{id}}">{{ title }}</a>
                </td>
                <td>
                    <ul class="inline-list">
                        {{ #genres }}
                        <li>{{name}}</li>
                        {{ /genres }}
                    </ul>
                </td>
                <td>
                    {{ length }}
                </td>
            {{/topDownloads}}
        </table>
        {{/topDownloads.length}}
    </div>
</script>

<script type="text/html" id="track_list">
    <div class="row">
        {{#results.length}}
        <table class='twelve'>
            <thead>
                <th>Album</th>
                <th>Track Name</th>
                <th>Artists</th>
                <th>Genres</th>
            </thead>
            {{#results}}
            <tr>
                <td class=release_id><a href="/?release={{release.id}}" data-qs-release="{{release.id}}"><img src="{{ images.medium.url }}" style="width:{{ images.medium.width }}px; height: {{ images.medium.height }}px" title="{{ title }}" alt="{{ title }}"/></a></td>
                <td class=track_id><a data-qs-track='{{id}}' href='/?track={{id}}'>{{title}}</a></td>
                <td class=artist_id>
                    <ul class='inline-list'>
                    {{#artists}}
                        <li><a href="/?artist={{id}}" data-qs-artist="{{id}}">{{name}}</a></li>
                    {{/artists}}
                    </ul>
                </td>

                <td>
                    <ul class='inline-list'>
                    {{#genres}}
                        <li>{{name}}</li>
                    {{/genres}}
                    </ul>
                </td>
            </tr>
            {{/results}}
        </table>
        {{/results.length}}
        {{^results.length}}
        <p class='text-center'>No tracks found :(</p>
        {{/results.length}}
    </div>
</script>

<script type="text/html" id=track_get>
    {{! Beatport returns a list. There is no way to specify one track }}
    {{# results }}
    <div class=row>
        <div class="seven columns">
            <img src="{{ images.large.url }}" style="width: {{images.large.width}}px;" title="{{title}}" alt="Album art for {{ release.name }}" />
        </div>
        <div class="five columns">
            <dl>
                <dt>Name</dt>
                <dd>{{ title }}</dd>
                <dt>Artists</dt>
                <dd>
                    <ul class="inline-list artist_id">
                        {{#artists}}
                        <li><a href="/?artist={{id}}" data-qs-artist="{{id}}">{{name}}</a></li>
                        {{/artists}}
                    </ul>
                </dd>
                <dt>Album</dt><dd class=release_id><a href="/?release={{release.id}}" data-qs-release="{{release.id}}">{{ release.name }}</a></dd>
                <dt>Label</dt>
                <dd>{{ label.name }}</dd>
                <dt>Genres</dt>
                <dd>
                    <ul class="inline-list">
                    {{#genres}}
                        <li>{{name}}</li>
                    {{/genres}}
                    </ul>
                </dd>
            </dl>
            <div class="hide-for-small">
                <ul class="inline-list">
                    {{#sampleUrl}}
                    <li>
                        <a class="jplayer-required success button jplayer-play" data-sampleurl="{{ sampleUrl }}" data-name="{{ title }}" href="javascript:void(0);">Play track</a>
                    </li>
                    {{/sampleUrl}}
                    <li>
                        <a class="success button" href="https://www.beatport.com/track/{{ slug }}/{{ id }}">Buy Track</a>
                    </li>
                </ul>
            </div>
            <div class="show-for-small">
                <ul class="inline-list">
                    {{#sampleUrl}}
                    <li>
                        <a class="jplayer-required jplayer-play" data-sampleurl="{{ sampleUrl }}" data-name="{{ title }}" href="javascript:void(0);">Play track</a>
                    </li>
                   {{/sampleUrl}}
                    <li>
                        <a href="https://www.beatport.com/track/{{ slug }}/{{ id }}">Buy Track</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {{/ results }}
</script>

<script type="text/html" id="release_get">
    <div class="row text-center">
            <img src="{{ images.large.url }}" style="width:{{ images.large.width }}px;" title="Album art for {{name}}" />
    </div>
    <div class=row>
        <div class="twelve columns">
            <dl>
                <dt>Name</dt>
                <dd>{{ name }}</dd>
                <dt>Artists</dt>
                <dd>
                    <ul class="inline-list artist_id">
                        {{#artists}}
                        <li><a href="/?artist={{id}}" data-qs-artist="{{id}}">{{name}}</a></li>
                        {{/artists}}
                    </ul>
                </dd>
                <dt>Label</dt>
                <dd>{{ label.name }}</dd>
                <dt>Genres</dt>
                <dd>
                    <ul class="inline-list">
                    {{#genres}}
                        <li>{{name}}</li>
                    {{/genres}}
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="twelve columns">
            <a href="https://www.beatport.com/track/{{ slug }}/{{ id }}">Buy Release</a>
        </div>
        <table class="twelve">
            <thead>
                <tr>
                    <th class="jplayer-required">Play</th>
                    <th>Track Name</th>
                    <th>Artists</th>
                    <th>Length</th>
                </tr>
            </thead>
            {{#tracks}}
            <tr>
                <td class="text-center jplayer-required">
                    {{#sampleUrl}}
                    <a class="jplayer-play" href="/?track={{id}}" data-name="{{ title }}" data-sampleurl="{{ sampleUrl }}">&#9654;</a>
                    {{/sampleUrl}}
                </td>
                <td class=track_id><a data-qs-track='{{id}}' href='/?track={{id}}'>{{title}}</a></td>
                <td class=artist_id>
                    <ul class='inline-list'>
                    {{#artists}}
                        <li><a href="/?artist={{id}}" data-qs-artist="{{id}}">{{name}}</a></li>
                    {{/artists}}
                    </ul>
                </td>

                <td>{{ length }}</td>
            </tr>
            {{/tracks}}
        </table>
    </div>
</script>

<script type="text/html" id="release_list">
    <div class=row>
        {{#results.length}}
        <table class="twelve">
            <thead>
                <tr>
                    <th>Album Artwork</th>
                    <th>Album name</th>
                    <th>Artists</th>
                    <th>Genre</th>
                </tr>
            </thead>
            {{#results}}
            <tr>
                <td><img src="{{ images.medium.url }}" title="{{name}}" style="width:{{images.medium.width}}px; height: {{images.medium.height}}px;" alt="{{name}}" /></td>
                <td class=release_id><a data-qs-release="{{id}}" href="/?release={{id}}">{{name}}</a></td>
                <td class=artist_id>
                    <ul class="inline-list">
                        {{#artists}}
                        <li><a href="/?artist={{id}}" data-qs-artist="{{id}}">{{name}}</a></li>
                        {{/artists}}
                    </ul>
                </td>
                <td>
                    <ul class="inline-list">
                        {{#genres}}
                        <li>{{name}}</li>
                        {{/genres}}
                    </ul>
                </td>
            </tr>
            {{/results}}
        </table>
        {{/results.length}}
        {{^results.length}}
        <p class="text-center">No releases found :(</p>
        {{/results.length}}
    </div>
</script>

<script type="text/html" id="mixed_list">
    <div class=row>
        {{#suggestions}}
        <p class="search-tips">Did you mean: <em><a href="/?query={{suggestions}}">{{suggestions}}</a></em>?</p>
        {{/suggestions}}

        <p>Your search yielded the following:</p>
        <p>{{artists_count}} artists, {{releases_count}} releases, and {{tracks_count}} tracks</p>
    </div>
</script>

<script type="text/html" id="handle_error">
    <div class=row>
        <div class="four columns centered">
            <a href="http://theoatmeal.com"><img src="/images/oatmeal/tbrun2_s.png" width="320" height="232" alt="Tumbeast by Matthew Inman of the Oatmeal" title="Tumbeasts"></a><br>
            <div class="alert-box alert text-center">{{message}}</div>
        </div>
    </div>
</script>

<script type="text/html" id="show_more_bio">
    <span class="bio-compact">&#x2026; (<a href="javascript:void(0);">show more</a>)</span>
</script>

<div id=title class="row text-center">
    <h1><a href="/">Beatsearch</a></h1>
    <p>
        A lightweight interface to searching tracks on BeatPort. This website is not affiliated with <a href="http://beatport.com">Beatport.com</a><br>
        <a href='javascript:void(0)' data-reveal-id=info>Read more about this project</a>
    </p>
</div>
<div class=row>
    <form method=GET>
        <div class="five columns mobile-four">
            <input id=search type=search tabindex=1>
            <noscript>
            <small class=error>You need JavaScript enabled to use this website</small>
            </noscript>
        </div>
        <div class="two columns end mobile-four">
           <input type=submit id=query class="round normal button" value=Search />
        </div>
    </form>
</div>
<div class="row">
    <p id="search-hint" class=hide>Hint: Prepend R:, T:, or A: to search for Release, Track, or Artist. For example, search A:Unicorn Kid to search for all artists named Unicorn Kid</p>
</div>
<div class='row player'>
    <div id="jplayer" style="height:0px; min-height:0px;" class="six columns centered"></div>
</div>


<div id=content>
<noscript>
    <div class="row">
        <blockquote>
            <p>Take your tax money and gone to the stars,<br>Land on Jupiter and land on Mars,<br>Take your tax money and I'll build your boat,<br>We shoot poor people down</p>
            <cite>Pablo Gad</cite>
        </blockquote>
    </div>
</noscript>
    <div class="search-tips">
        <div class=row>
            <h5>Search tips!</h5>
        </div>
        <div class=row>
            <table>
                <thead>
                    <tr>
                        <th>Search</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tr>
                    <td><a href="/?query=Arty">Arty</a></td>
                    <td>Search for every artist, release, and track with the word Arty</td>
                </tr>
                <tr>
                    <td><a href="/?query=a:Paul">a:Paul</a></td>
                    <td>Search for artists named Paul</td>
                </tr>
                <tr>
                    <td><a href="/?query=r:moonshine">r:moonshine</a></td>
                    <td>Search for releases with the word "moonshine" in them</td>
                </tr>
                <tr>
                    <td><a href="/?query=t:Damul Goon">t:Damul Goon</a></td>
                    <td>Search for tracks called Damul Goon</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id=pages class=row></div>
<div class='row text-center'>
    <a href="http://www.beatport.com"><img src="/images/beatport/poweredbybp_color.png" alt="Powered by Beatport API"/></a>
</div>

<p id="response" class=hide></p>

<a href="https://bitbucket.org/cdolivei/beatsearch/overview" style="position:absolute;z-index:10000;top:0;right:0;" class="hide-for-small">
  <img src="/images/bitbucket/bitbucket-ribbon-dark-blue.png" alt="BitBucket ribbon"/>
</a>

<div id=info class="reveal-modal Medium">
    <p>Beatsearch is a web application done entirely in HTML to search the beatport catalog of music specializing in <acronym title="Electronic Dance Music">EDM</acronym>. It's mission is to be a fast, useful alternative to the beatport.com website. It was developed by <a href="http://cesaroliveira.net">Cesar Oliveira</a> as a pet project to play with some new web technologies.</p>
    <p>A bunch of thanks goes to the following projects that made this possible:</p>
    <ul class="disc">
        <li><a href="http://beatport.com">beatport.com</a> for providing the huge catalog of music</li>
        <li><a href="http://foundation.zurb.com">Zurb's Foundation Framework</a> for helping make my site pretty</li>
        <li><a href="https://github.com/janl/mustache.js">Mustache.js</a> for easy to use templating engine</li>
        <li><a href="http://www.requirejs.org">RequireJS</a> for helping me organize my code into modules</li>
        <li><a href="https://github.com/kriskowal/q">q.js</a> for helping me deal with callback codes in a sane manner</li>
        <li><a href="http://jplayer.org/">jplayer</a> for their code and blue skin theme to play Beatport's mp3 files</li>
        <li>Matthew Inman from <a href="http://theoatmeal.com/">TheOatmeal.com</a> for the tumbeasts</li>
        <li><a href="http://www.ajaxload.info/">ajaxload.info</a> for the loading gif</li>
        <li>Benjamin Arthur Lupton for the excellent <a href="https://github.com/balupton/History.js/">History.js</a></li>
        <li>Others who I have forgotten :)</li>
    </ul>
    <a class="close-reveal-modal">&#215;</a>
    <p class="text-center">
        <a class="normal button" href="javascript:void($('#info').trigger('reveal:close'))">Go Away</a>
    </p>
</div>

<div id=progress_bar class="hide row">
    <div class="four centered columns text-center">
        <img src="/images/ajaxload/ajax-loader.gif">
    </div>
</div>

<div id=cannot_play_music class="reveal-modal">
    <p>Sorry we are unable to play music in your browser. Some browsers require flash to play the samples, others don't. Here is what you need</p>
    <ul class=square>
        <li><a href="https://www.mozilla.org/firefox">Firefox</a> - <a href="https://www.adobe.com/products/flashplayer/">Adobe flash player</a></li>
        <li><a href="http://www.opera.com/">Opera</a> - <a href="https://www.adobe.com/products/flashplayer/">Adobe flash player</a></li>
        <li><a href="http://www.google.com/chrome">Chrome</a> - You shouldn't be seeing this</li>
        <li><a href="http://windows.microsoft.com/en-US/internet-explorer/download-ie">Internet Explorer</a> - IE9 or above or IE8 with the <a href="https://www.adobe.com/products/flashplayer/">Adobe flash player</a></li>
    </ul>
    <a class="close-reveal-modal">&#215;</a>
</div>

<div id=nohistory class="reveal-modal large">
    <h1>Update/Switch your browser!</h1>
    <p>Unfortunately your browser (likely Internet Explorer 9 and below) does not support web technologies invented in 2011 (2008?) that this website relies on.</p>
    <p>I suggest visiting <a href="http://www.beatport.com">Beatport.com</a> since they want your money and will support your browser. Alternatively, you can try a browser like:</p>
    <ul class="inline-list">
        <li><a href="http://my.opera.com/community/download.pl?p=opera_desktop"><img data-src="http://promote.opera.com/buttons/opera88x31-1.gif" alt="Opera, the fastest and most secure web browser"></a></li>
        <li><a href="https://affiliates.mozilla.org/link/banner/32175"><img data-src="https://affiliates.mozilla.org/media/uploads/banners/5d3a43832c5233ce27da7b53e00b2ad1c6ccd87b.png" alt="Download: Fast, Fun, Awesome" /></a></li>
        <li><a href="http://www.seamonkey-project.org/"><img data-src="/images/SeaMonkey32x32.png" alt="SeaMonkey"></a></li>
        <li><a href="https://encrypted.google.com/chrome">Chrome</a></li>
        <li><a href="https://www.apple.com/safari">Safari</a></li>
    </ul>
    <p>Go to <a href="http://www.beatport.com">Beatport.com</a></p>
    <a class="close-reveal-modal">&#215;</a>
</div>

<script type="text/javascript">
(function() {
    /*
    var script = document.createElement("script");
    script.type = "text/javascript";
    if (document.cookie.indexOf("env=devel") === -1)
    {
        script.src = "javascript/require.min.js";
        script.setAttribute('data-main', "javascript/index.min.js");
    }
    else
    {
        script.src = "javascript/require.js";
        script.setAttribute('data-main', "javascript/index.js");
    }
    document.body.appendChild(script);
    */

    if (!devel)
    {
        document.writeln("<script type='text/javascript' src='javascript/require.min.js' data-main='javascript/index.min.js'><\/script>");
    }
    else
    {
        document.writeln("<script type='text/javascript' src='javascript/require.js' data-main='javascript/index.js'><\/script>");
    }
})();
</script>
</html>
